@media screen and (max-width : 576px) {
    .wrapper {
        width: 300px;
    }
}

@media screen and (max-width : 365px) {
    .wrapper {
        width: 250px;
    }

    #tulisan p {
        font-size: 40px !important;
    }
}
