@media screen and (max-width: 430px) {
  .wrapper {
    width: 300px;
  }

  .drop-list .select-box {
    width: 100px;
  }
}

@media screen and (max-width: 520px) {
  #tulisan p {
    font-size: 45px;
  }
}

@media screen and (max-width: 468px) {
  #tulisan p {
    font-size: 30px;
  }
}
